@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Arapey:ital@0;1&family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&family=Noto+Serif+JP:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&family=Rubik:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../Asset/beranda_bg.png") no-repeat;
  background-size: cover;
  background-color: currentColor;
  gap: 15px;
}

header {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  background-color: rgba(247, 247, 247, 0.329);
  color: #fff;
  border-radius: 10px;
}

.nav {
  font-family: "DM Serif Display";
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__logo {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.nav__list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav__link.active {
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(5, 4, 4, 0.692);
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1200px; */
  background-color: rgba(247, 247, 247, 0.329);


  border-radius: 20px;
}

p {
  font-family: "Radley";
  color: #fff;
  max-width: 90%;
  font-size: 25px;
  text-align: right;
  line-height: 42px;
}

h1 {
  text-align: center;
  font-size: 38px;
  max-width: 90%;
  text-shadow: 3px 0px 0px #040c1bf2;
  color: #9a0213;
  font-family: "DM Serif Display";
}

.kiri {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.kanan {
  width: 40%;
}

.kanan__img {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  padding: 10px 20px;
  margin-top: -20px;
}

/* .toolbar {
   font-size: 20px;
   } */

button {
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  background: linear-gradient(#5d5188db 0%, #171422db 100%);
  /* background-color: #007bff; */
  color: white;
  font-weight: 800;
  border-radius: 50px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
  font-family: 'DM Serif Display';
  font-weight: 500;
}

button:hover {
  background-color: #0056b3;
}