* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("beranda\ bg.png") no-repeat;
    background-size: cover;
    background-color: currentColor;
  }
  
  /* header {
    width: 100%;
    padding: 15px;
    background-color: rgba(247, 247, 247, 0.329);
    color: #fff;
    border-radius: 10px;
    margin-top: 5px;
  } */
  
  .nav {
    font-family: "DM Serif Display";
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 35px;

  }
  main{
    background-color: rgba(247, 247, 247, 0.329);
    margin: 20px auto;
    border-radius: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
 
    /* max-height: 100%; */
    
    gap: 20px;
  }
  p {
    /* margin-top: 20px; */
    font-family: "Radley";
    color: #fff;
    max-width: 90%;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
  }
  h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
    max-width: 90%;
    text-shadow: 3px 0px 0px #040c1bf2; /* Properti bayangan teks */
    color: #9a0213;
    font-family: "DM Serif Display";
  }
  h2{
    text-align: center;
    font-size: 36px;
    max-width: 90%;
    text-shadow: 3px 0px 0px #040c1bf2; /* Properti bayangan teks */
    color: #8380FA;
    font-family: "DM Serif Display";
  }
  .kiri {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 45%;
    /* margin-right: 2px; */
    /* margin-left: 20px; */
    background-color: #726b85cb;
    margin: 10px 10px 20px 40px;
    border-radius: 20px;
    padding: 20px;
  }
  .kanan-L{
    margin-left: 100px;
    
  }
  
  
  
  .kanan__img {
    width: 100%;
    height: auto;
  }
  footer {
    width: 100%;
    padding: 10px 20px;
    margin-top: -20px;
  }
.karakter{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.karakter div{
    border: 3px black;
    background-color: #444444;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

td {
    border: 3px solid rgba(5, 4, 4, 0.692); /* Border untuk setiap sel */
    text-align: center; /* Teks di tengah */
    position: relative; /* Agar hover dapat mengcover area sel secara penuh */
    width: 100px;  /* Tentukan lebar */
    height: 100px; /* Tentukan tinggi */
}

td:hover {
    background-color: rgba(0, 0, 255, 0.2); /* Warna latar belakang saat hover */
    border: 3px solid blue; /* Border menjadi biru */
}

  .kanan td{
    padding: 10px;
    height: 100px;
    font-size: 32px;
    /* width: 80px; */
  }

  td img{
    height: 130px;
    width: auto;
  }


  button {
    padding: 10px 20px;
    border: none;
    font-size: 24px;
    background: linear-gradient(#0c08fd8c 0%, #171422db 100%);
    color: white;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
  }
  

  
  button:hover {
    background-color: #0056b3;
  }

  /* h6{
    text-align: center;
    font-family: 'redley';
  }
  h3{
    font-family: 'redley';
    font-size: 18px;
    padding-top: 25px;
  } */
  
  .konten{
    margin-top: 20px;
    display: flex;
    gap: 240px;
    height: 100%;
    width: 100%;
  }
  .konten img{
    padding: 0;
    margin: 0;
    height: 185px;
    width: auto;
    /* margin-top: 16px; */
  }
  .konten table{
    padding: 0;
    margin: 0;
    height: 185px;
  }
  