@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("bg_login.jpg") no-repeat;
  background-size: cover;
}

.utama {
  color: #fff;
  width: 1660px;
  height: auto;
  padding: 40px 30px 50px 30px;
  background: #8191eccc;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
}

header{
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}
p{
    font-family: Bree Serif;
    font-size: 34px;
    font-weight: 400;
    text-align: left;
    padding-top: 50px;
}
quotes{
    gap: 40px;
    text-align: left;
}
form{
    display: flex;
    flex-direction: column; /* Susun elemen dalam kolom */
    gap: 20px; /* Jarak antar input */
    align-items: center;
}
input{
    color: #244db4;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.91px;
    font-family: Judson;
    background-color: #D9D9D9;
    width: 450px;
    height: 61px;
    border-radius: 20px;
    border: none;
    padding: 10px; /* Tambahkan padding untuk isi */
    font-size: 16px;
    outline: none;
}
